.strip-mall {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*horizontal */
  align-items: center; /*vertical*/
  background: rgb(187, 188, 196);
  height: 500px;
}

.tower {
  display: flex;
  flex-direction: row;
  background: rgb(187, 188, 196);
}
.store {
  height: 100px;
  width: 200px;
  border: 1 solid snow;
  background: gray;
}